.payment-img {
    width: 50px;
    margin-right: 2%;
}
.footer-heading {
    font-family: Verdana;
    font-size: 20px;
    color: white;
}
.footersub-txt {
    margin-top: 5%;
    font-family: Verdana;
    color: gray;
}